body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.breadcrumbs {
    color: #565959;
    font-size: 14px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

a {
    color: #007185;
}

.ratings-img {
    width: 100px;
}

.container1 {
    margin: 20px;
}